 *, *::before,
  *::after{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  
  }
  
  nav li{
      list-style: none;
      display: inline-block;
      font-size: 25px;
      color: white;
      padding: 10px 15px;
  } 
  nav ul{ 
    background-color: grey;     
    padding: 0px; 
    margin: 0px;
  }
  .fel {
      color: gray;
      background-color: #BDBDBD;
      height: 69px;
  }
  .find, .cont, .fel {
      
      padding: 20px;
  }
  .carousel {
      background-color: #D8D8D8;
      height: 185px;
      margin-left: 1px;
      margin-right: 1px;
  }
   
  h2{
      text-align: center;
      font-size: 30px;
      margin: 25px;
      color: black;
  
  }
  article{
      margin-left: 70px;
      margin-bottom: 5px;
      background-color: #D8D8D8;
      height: 300px;
      width: 400px;
      display: inline-block;
  }
  .contact{
      font-size: 30px;
      color: grey;
      margin-right: 1300px;
    
  }      
  
  
  input[type="text"],
  textarea,
  select{
      width: 80%;
      display: block;
      margin-left: 10%;
      margin-top: 15px;
  }
